$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-alternative-color: #CEDF9F;

$header-bg-color: #C9E6F0;
$footer-bg-color: #78B3CE;
$background-color: #FBF8EF ;
$earthy-font:#F96E2A ;

// $header-bg-color: #CEDF9F;
// $footer-bg-color: #CEDF9F;
// $background-color: #feffec ;
// $greeny-font:#A1D6B2 ;


//* Blue theme palete
// color {
//     background-color: #78B3CE; /*blue-dark*/
//     background-color: #C9E6F0; /*blue-light*/
//     background-color: #FBF8EF; /*orange light*/
//     background-color: #F96E2A; /*orange dark*/
// }

//* Greenish-earthy theme palete
// color {
//     background-color: #A1D6B2; /*dark-green*/
//     background-color: #CEDF9F; /*light-green*/
//     background-color: #F1F3C2; /*lighter-green*/
//     background-color: #E8B86D; /*earthy*/
// }