// $font-color: #000;
// $font-alternative-color: #fff;
// $accent-color: #ee6c4d;
// $background-color: #3d5a80;
// $background-alternative-color: #e0fbfc;

$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #F1F3C2;
$background-alternative-color: #CEDF9F;


// color {
//     background-color: #78B3CE; /*blue-dark*/
//     background-color: #C9E6F0; /*blue-light*/
//     background-color: #FBF8EF; /*orange light*/
//     background-color: #F96E2A; /*orange dark*/
// }
