{% include 'incl/header.twig' %}

    <link rel="stylesheet" href="themes/kmom02/css/technology.css">
<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <h1>V책r egen layout fr책n technologies.twig</h1>
        <div class="landingpage">
            {{ content }}
        </div>
    </div>

    {# <div class="main" role="main">
        <h1 class="page-title">V책r egen layout fr책n technologies.twig</h1>
        <div class="layout-container">
            <aside class="sidebar">
                <nav>
                    <ul>
                        <li><a href="../technologies/html.md">HTML</a></li>
                        <li><a href="/technology/css">CSS</a></li>
                        <li><a href="/technology/javascript">JavaScript</a></li>
                        <li><a href="/technology/php">PHP</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="content">
                <div class="container">
                    {{ content }}
                </div>
            </div>
        </div>
    </div> #}

    {% include 'incl/footer.twig' %}
</body>

</html>